<section id="content">
    <div class="container">
        <div id="main">
            <div class="large-block image-box style6">
                <article class="box">
                    <figure class="col-md-5">
                        <a  title="" class="middle-block"><img class="middle-item" src="images/aboutpic01.jpg" alt="" width="476" height="318" /></a>
                    </figure>
                    <div class="details col-md-offset-5">
                        <h4 class="box-title">World's best travel meta-search engine</h4>
                        <p><a>CompareBeforeBook.com</a> is your go-to site for flight and car deals, cheap flights, weekend
                            trips travel tips and city breaks that will inspire you. We're a team of strong, savvy travelers
                            on a mission to make it simple for you to find and compare the cheap flight deals. As one of
                            the best flight comparison sites, Compare Before Book.com is the starting point for your travel
                            planning. Millions of travellers trust on us and find the fantastic flights and travel deals.
                            Our knowledge and strong search technology open up new travel possibilities and help you see
                            the world on a budget.</p>
                    </div>
                </article>
                <article class="box">
                    <figure class="col-md-5 pull-right middle-block">
                        <a><img class="middle-item" src="images/aboutpic02.jpg" alt="" width="476" height="318" /></a>
                    </figure>
                    <div class="details col-md-7">
                        <h4 class="box-title">Save your time</h4>
                        <p>Travel booking can be a tedious task. You need to visit all the websites and then compare them carefully
                            to get the best. It is a challenge indeed. But with us there is nothing to worry about. You get
                            all suitable options on one page within few seconds. Also, you can compare the results easily.
                            Apply filters to narrow down the search results and finally select the alternative that matches
                            with your requirements. Everything is done in a one click.</p>
                    </div>
                </article>
                <article class="box">
                    <figure class="col-md-5">
                        <a class="middle-block"><img class="middle-item" src="images/aboutpic03.jpg" alt="" /></a>
                    </figure>
                    <div class="details col-md-offset-5">
                        <h4 class="box-title">Save your money</h4>
                        <p>The online travel world is dynamic and offerings keep changing in no time. Several companies offer
                            the similar packages but then the difference lies in the quality of service rendered during the
                            travel. Therefore, when you book your flight or hotel stay, you need to be careful. Choosing
                            a cheaper option can be risky but when you are dealing with us, you get the best deals. We have
                            listings of reliable travel companies who offer quality services at reasonable prices. Hence
                            you save money.</p>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>